<header class="page-header">
  <div class="nav-logo-container" (click)="redirectToHome()">
    <img class="side-menu-icon" (click)="openCloseMenu()" src="assets/images/menu.svg" />
    <img alt="appLogo" src="assets/images/logo.svg" />
    <h1>Exchanger</h1>
  </div>

  <div [class.nav-links]="!sideMenuOpen" [class.side-menu]="sideMenuOpen">
    @if (sideMenuOpen) {
    <img src="assets/images/close.svg" (click)="openCloseMenu()" />
    }

    <a [routerLink]="['./USD']" (click)="openCloseMenu()"> USD </a>
    <a [routerLink]="['./EUR']" (click)="openCloseMenu()"> EUR </a>
    <a [routerLink]="['./details']" (click)="openCloseMenu()"> Conversion Details </a>
  </div>
</header>