<div class="list-container">

  @if(amountsList.length > 0 && toCurrency && fromCurrency){
  <div class="conversions-table">
    <h4> {{fromCurrency.symbol}} to {{toCurrency.symbol}} Conversions</h4>
    <table>
      @for (amount of amountsList; track amount){
      <tr>
        <td>{{amount}}</td>
        <td> <b> {{fromCurrency.symbol}}</b></td>
        <td> &rarr; </td>
        <td>{{amount*latestRate[toCurrency.symbol]}}</td>
        <td> <b> {{toCurrency.symbol}}</b> </td>
      </tr>
      }
    </table>
  </div>


  <div class="conversions-table">
    <h4> {{toCurrency.symbol}} to {{fromCurrency.symbol}} Conversions</h4>
    <table>
      @for (amount of amountsList; track amount){
      <tr>
        <td>{{amount}}</td>
        <td> <b>{{toCurrency.symbol}} </b> </td>
        <td> &rarr; </td>
        <td>{{amount/latestRate[toCurrency.symbol]}}</td>
        <td><b> {{fromCurrency.symbol}}</b></td>
      </tr>
      }
    </table>
  </div>
  }

  @if(currenciesList.length>0 && fromCurrency){
  <div class="conversions-table">
    <!-- <h4> {{fromCurrency?.symbol}} to different currencies Conversions</h4> -->
    <table>
      @for (currency of currenciesList; track currency){
      <tr>
        <td>1</td>
        <td> <b> {{fromCurrency.symbol}}</b></td>
        <td> &rarr; </td>
        <td>{{latestRate[currency]}}</td>
        <td> <b> {{currency}}</b> </td>
      </tr>
      }
    </table>
  </div>


  <div class="conversions-table">
    <!-- <h4>different currencies to {{fromCurrency?.symbol}} Conversions</h4> -->
    <table>
      @for (currency of currenciesList; track currency){
      <tr>
        <td>1</td>
        <td> <b> {{currency}}</b></td>
        <td> &rarr; </td>
        <td>{{1/latestRate[currency]}}</td>
        <td> <b> {{fromCurrency.symbol}}</b> </td>
      </tr>
      }
    </table>
  </div>
  }

</div>