/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button{
  width: 100%;
  margin: 1rem 0;
  height: 2rem;
  box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
    border-radius: 0.2rem;
  border: 1px solid rgb(182 181 181);
  background: white;
  cursor: pointer;
}


