#details-link{
  text-decoration: none;
  color: black;
}

.home-upper-container{
  box-shadow: 0px 0px 10px rgba(179, 187, 198, 0.45);
  border-radius: 1rem;
  padding: 4rem 4rem 3rem 4rem;
    margin: 2rem;
}
